[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule ".github/actions/actions-hugo"]
	path = .github/actions/actions-hugo
	url = https://github.com/peaceiris/actions-hugo.git
[submodule ".github/actions/actions-gh-pages"]
	path = .github/actions/actions-gh-pages
	url = https://github.com/peaceiris/actions-gh-pages.git
